{% extends 'base.html.twig' %}

{% block  title "Tous les produits" %}

{% block body %}
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est officiis dolorem maiores amet dignissimos omnis! Distinctio vitae nesciunt culpa quasi ipsum, reiciendis sunt quo quae quos placeat esse laudantium repellendus.
    </p>  

    <ul>
    {% for produit in produits %}
    <li>
        <a href="{{ path('produit.show', {id: 4, slug: 'livre-jeune'} ) }}">{{ produit.nom() }}</a>
    </li>
    {% endfor %}
    </ul>

{% endblock %}
