{% extends '/admin/admin.html.twig' %}

{% block title "Produit : " ~ produit.nom %}

{% block body %}

<h1>{{ produit.nom ~ ' :' ~ ' ' ~ produit.prix }} €</h1>

<p>
{{ produit.description | nl2br }}
</p>

{% endblock %}
