{% extends 'admin/admin.html.twig' %}

{% block title 'Auteur : ' ~ auteur.nom %}

{% block body %}

<h1>Modifier l'auteur : {{ auteur.nom }}</h1>

{{ include('admin/produit/form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}