{% extends 'admin/admin.html.twig' %}

{% block title 'Créer un auteur' %}

{% block body %}

<h1>Créer un auteur</h1>

{{ include('admin/produit/form.html.twig', {'button_label': 'Ajouter'}) }}

{% endblock %}