body {
    background-color: rgb(255, 255, 255);
}

/* thead {
    background-color: red;
} */

.button {
    display: flex;
    justify-content: center;
    width: 70rem;
    margin: auto;

}

/* form {
    background-color: gray;
} */

.th {
    background-color: gray;
}